.loading_container_modal {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.63);

  opacity: 0;

  z-index: -100;

  pointer-events: none;
  padding: 2rem 0;
  transition: 1s;
}

.show_container {
  opacity: 1;
  z-index: 100;
}
