.cards_container {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  padding: 5rem;
  gap: 2rem;
}

@media screen and (max-width: 815px) {
  .cards_container {
    grid-template: auto / repeat(2, 1fr);
  }
}

@media screen and (max-width: 470px) {
  .cards_container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
  }
}
