.cards_container {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  padding: 5rem;
  gap: 2rem;
}

.loading_container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem 0;
}
