.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  padding: 1.5rem 2.5rem;
  width: 100%;
  color: var(--neutral-color);
  z-index: 999999;

  transition: 750ms;
}

.header.background {
  background-color: var(--secondary-color);
}

.header_logo {
  width: 100%;
}

.header_logo img {
  display: flex;
  width: 100%;
  max-width: 20rem;
  transition: 750ms;
}

.header.background .header_logo img {
  width: 30%;
}

.header_menu {
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header_menu ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
}

.header_search {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* Mobile configuration */
.mobile_header_menu_container {
  position: relative;
}

.mobile_header_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  left: -15%;
  opacity: 0;
  pointer-events: none;
  transform-origin: top;

  transition: 500ms;
  padding: 0.5rem 1rem;
}

.header.background .mobile_header_menu {
  background-color: var(--secondary-color);
}

.mobile_header_menu.open {
  opacity: 1;
  pointer-events: visible;
}

.mobile_header_menu .header_menu ul {
  flex-direction: column;
}
