.header {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 1.5rem 2.5rem;
  width: 100%;
  color: var(--neutral-color);
  z-index: 999999;
}

.mobile_menu_container {
  position: relative;
}

.mobile_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 25px;
  right: 50%;
  opacity: 0;
  transform: scale(0);
  transform-origin: top;

  transition: 500ms;
}

.mobile_menu.open {
  opacity: 1;
  transform: scale(1);
}

.mobile_menu .header_menu ul {
  flex-direction: column;
}

.header_logo {
  width: 100%;
}

.header_logo img {
  width: 100%;
  max-width: 20rem;
}

.header_menu {
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header_menu ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
}

.header_search {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
