.loading_on {
  opacity: 1;
  transition: 500ms;
}

.loading_off {
  opacity: 0;
  transition: 500ms;
}

.circle {
  border-radius: 50%;
  border: 2px solid brown;
  background-color: transparent;

  animation: loading 1s cubic-bezier(0, 0, 0, 0) infinite;
  clip-path: inset(0 0% 15% 0%);
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
