footer {
  background-color: var(--third-color);
  padding: 5rem;
}

footer hr {
  border: 1px solid var(--secondary-color);
}

.footer_link {
  font-weight: 400 !important;
}

.footer_title {
  color: var(--primary-color);
  text-transform: uppercase;
}

.footer_information {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.footer_col a {
  display: flex;
}

.footer_contact_row {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

.footer_contact_row p {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 400;
}

.footer_contact_row sub {
  color: var(--neutral-color);
}

.footer_contact_row > div {
  display: flex;
  justify-content: space-between;
  font-size: 2.3rem;
  margin-top: 0.2rem;
}

.footer_contact_row > div > * {
  color: var(--primary-color);
  transition: 500ms;
}

.footer_contact_row > div > *:hover {
  color: var(--neutral-color);
}

.footer_subscribe_button {
  font-size: 1.3rem;
  margin-top: 0.2rem;
}

.footer_additional_information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer_additional_information {
  color: var(--neutral-color);
}

.footer_additional_information div:first-child {
  margin: 1rem 0;
}

.footer_additional_information div:first-child,
.footer_additional_information div:first-child a {
  color: var(--neutral-color);
  opacity: 0.7;
  text-decoration: none;
  transition: 500ms;
}
.footer_additional_information div:first-child a:hover {
  opacity: 1;
}

.footer_additional_information div:last-child p {
  opacity: 0.4;
  font-weight: 500;
}

@media screen and (max-width: 695px) {
  .footer_information {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .footer_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_col a {
    width: auto;
  }

  .footer_contact_row > div {
    gap: 1rem;
  }
}
